<div>
    
   <div class="main" ng-hide="adres">
    <div class="typeForm">
        <form>
           YOUR NAME <br>
            <input type="text" required class="sendForm"> <br> <br>
           YOUR EMAIL <br>
            <input type="text" required class="sendForm"> <br> <br>
            THEME <br>
            <input type="text" required class="sendForm"> <br> <br>
            YOUR MESSAGE <br>
            <textarea></textarea> <br> <br>
            <input type="button" value="SEND" class="sendButton">
        </form>
    </div>
       <div class="address">
        <h3>Our address:</h3>
        <p>Lviv region, <br>
         Pustomyty district,<br>
         Soroki Lvivski,  <br>
         Lesya Ukrainka str</p> <br>
        <h3>Phone:</h3>
        <p>+380986394787</p> <br>
        <h3>Email:</h3>
        <p>iryna.laitaruk@gmail.com</p>
    </div>
</div>
</div>