<div>
    <header>
       <div class="menu">

           <div ng-show="home">
            <a ng-click="homeStatus()" class="menuBtn">HOME</a> 
            </div>
             
            <div><a ng-click="blogStatus()" class="menuBtn">BLOG</a></div>
            
            <div ng-show="contact"><a ng-click="contactStatus()" class="menuBtn">CONTACTS</a></div>
            
           <div> <a ng-click="loginStatus()" class="menuBtn"> AVTORIZATION</a></div>

            <div>
            <a ng-click="shopStatus()" class="menuBtn">ONLINE-SHOP</a> 
            </div>
    
        </div>
     </header>
</div>