<div>
    <header>
       <div class="menu">

           <div ng-show="home">
            <a ng-click="homeStatus()">HOME</a> 
            </div>
             
            <div><a ng-click="blogStatus()">BLOG</a></div>
            
            <div ng-show="contact"><a ng-click="contactStatus()">CONTACTS</a></div>
            
           <div> <a ng-click="loginStatus()"> AVTORIZATION</a></div>

            <div>
            <a ng-click="shopStatus()">GOODS</a> 
            </div>
    
        </div>
     </header>
</div>